@charset "UTF-8";
<style>
.box {
  float: right;
  width: 50%;
  height: 300px;
}
.box1 {
  float: left;
  width: 45%;
  height: 300px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>